*{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
}

/*Card*/
div.card{
    background-color: gray;
    width: 44%;
    padding: 12px;
}

.card .cardMain{
    background-color: gold;
    padding: 10px;
    box-shadow: 0px 0px 12px 1px black;
}

.card .cardMain .titulo{
    color: gray;
    font-size: 25px;
    padding: 3px;
    box-shadow: 0px 0px 20px 1px white;
}

.card .cardMain .stars{
    display: flex;
    justify-content: flex-end;
}

.card .cardMain .stars > img{
    width: calc(100% / 12);
}

.card .cardMain .img > div{
    width: 330px;
    height: 330px;
    box-shadow: 0px 0px 12px 1px black;
    background-image: url(../img/Cards/IMG-20211005-WA0001.jpg);
    background-position: center 37.6%;
    background-repeat: no-repeat;
    margin: auto;
}

.card .cardMain .info{
    margin-top: 10px;
    border: 4px solid tomato;
}

.card .cardMain .info > div{
   background-color: #eae1aa;
}

.card .cardMain .info .type{
    font-size: 18px;
    font-weight: bold;
}

.card .cardMain .info .description{
    text-align: justify;
    font-size: 16px;
    font-style: italic;
}

.card .cardMain .num{
    font-weight: bold;
    text-align: right;
    border-top: 2px solid black;
    margin-top: 17px;
}